<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo1.png" type="image/png">
    <title>jd</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <!-- <div class="splash">
        <img class="fade-in" src="images/money.png" alt="">
    </div> -->

    <a href="/"><img id="spin" src="images/logo2.png" alt=""></a>

    <div class="banner page-in">
        <h1 class="moto">
            Know where your money going. <br>
            You Spend. <br> We Manage for You.
        </h1>
        <img class="side" src="images/finance.png" alt="Website Logo">
    </div>
    <div class="log">
        <a href="/login" class="reg">Login</a>
        <a href="/register" class="reg">Register</a>
    </div>
    <!-- <script src="splash.js"></script> -->
</body>

</html>