<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo2.png" type="image/png">
    <title>jd</title>
    <link rel="stylesheet" href="css/information.css">
</head>

<body>
    <form action="/info" method="post">
        
        <h2>Please it Fill Out</h2>
            <label for="fname">Firstname:</label>
            <input type="text" name="fname" placeholder="Firstname" required>
        
            <label for="lname">Lastname:</label>
            <input type="text" name="lname" placeholder="Lastname" required>
     
            <label for="job">Job:</label>
            <input type="text" name="job" placeholder="Job" required>
        
            <label for="dob">Date of Birth:</label>
            <input type="date" name="dob" placeholder="Date of Birth" required>

            <label for="salary">Wallet:</label>
            <input type="text" name="salary" placeholder="salary" required>
            
            <label for="limit">Salary:</label>
            <input type="text" name="limit" placeholder="limit" required>

            <button type="submit" >Submit</button>
    </form>
</body>

</html>