<img src="images/logo1.png" alt="" class="logo" onclick="togglemenu()" id="logo">
<div class="sub-menu-wrap" id="menu">
    <div class="sub-menu">
        <div class="user-info">
            <img src="images/user.png" alt="">
            <h3>Jeffrey</h3>
        </div>
        <hr>
        <a href="/dashboard" class="link">
            <img src="images/home.png" alt="">
            <p>Home</p>
            <span>></span>
        </a>
        <a href="/profile" class="link">
            <img src="images/profile.png" alt="">
            <p>profile</p>
            <span>></span>
        </a>
        <a href="/expense" class="link">
            <img src="images/wallet.png" alt="">
            <p>Expense</p>
            <span>></span>
        </a>
        <a href="/analytics" class="link">
            <img src="images/analytics.png" alt="">
            <p>Analytics</p>
            <span>></span>
        </a>
        <a href="/report" class="link">
            <img src="images/report.png" alt="">
            <p>Report</p>
            <span>></span>
        </a>
        <a href="/logout" class="link">
            <img src="images/logout.png" alt="">
            <p>Logout</p>
            <span>></span>
        </a>
    </div>
</div>